(CLICK ME)Main_IT_Staff_Attendance.py

import pandas as pd
import os
import tkinter
import numpy as np
from tkinter import filedialog
from pandas import ExelWriter
from pandas import DataFrame
from collections import DataFrame
from functools import reduce
from decimal import Decimal
import datetime
from datetime impoert timedelta

#import the dataframe from the 3 functions
from IT_STAFF_Attendance_Door_Access_Function import dfda
from IF_STAFF_Attendance_SSLVPN_Function import dfvpn
from IT_STAFF_Attendance_VDILog_Function import dfvdi

#Combining the processed raw date into a single dataframe
dfinprocess=dfda.append(dfvpn, ignore_index=True)
dfinprocess=dfinprocess.append(dfvdi,ignore_index=True)

#Converting the format of Duration
dfinprocess['Duration']=pd.to_datetime(dfinprocess["Duration"]).dt.strftime("%H:%M:%S")
dfinprocess['Duration']=pd.to_datetime(dfinprocess["Duration"]).dt.strftime("$H:%M")
dfinprocess['Duration']=dfinprocess["Duration"].astypr(str)
Values＝dfinprocess['Duration'].fillna('00:00').str.split(':',expand=True)astype(int)
factors=np.array([60,1])
dfinprocess["Duration2"]=(Values*factors).sum(1)
dfinprocess["Duration2"]=dfinprocess["Duration2"].div(60)
dfinprocess['Duration2']=dfinprocess['Duration2'].round(decimals=2)

dfinprocess.drop(['Duration'],inplace=True,axis=1)
dfinprocess = dfinprocess.rename(columns={'Duration2':'Duration')

dfinprocess['Date']=pd.to_datetime(dfinprocess['Start Time']).dt.strtime("%Y/%m/%d")

#Reformatting the colunmn of Start Time, End Time and Date
dfinprocess['Start Time']=pd.to_datetime(dfinprocess['Start Time'],format='%Y%m%d%H%M%S').dt.strftime('%Y-%m-%d %H:%M:%S')
dfinprocess['End Time']=pd.to_datetime(dfinprocess['End Time'],format='%Y%m%d%H%M%S').dt.strftime('%Y-%m-%d %H:%M:%S')
dfinprocess['Date']=pd.to_datetime(dfinprocess['Date'],format='%Y%m%d%H%M%S').dt.strftime('%Y-%m-%d')
dfinprocess=dfprocess[['Staff ID','User Name'.'IsPerm?','IT Team','Channel','Start Time','End Time','Duration','Department','Date']]
print(dfprocess)

#Save as Excel File and giving time format to the column of Start Time, End Time and Date
writer=pd.ExcelWriter('consolidated_Staff_Attendance_data_IT.xlsx')
dfinprocess.to_excel(writer,'consolidated_data_IT')

workbook=writer.book
worksheet=write.sheets['consolidated_data_IT')

format1=workbook.add._format(['num_format';'yyyy-mm-dd hh:mm:ss'})
format2=workbook.add_format('num_format':'yyyy-mm-dd'})

worksheet.set_column('G:G, None, format1)
worksheet.set_column('H:H, None, format1)
worksheet.set_column('K:K', None, format2)]
writer.save()
